<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Esto es sin utilizar Vue-->
    <h1>Hola Mundo</h1>
    <!-- Esto se utiliza Vue-->
    <div id="app">
        <h1>{{titulo}}</h1> <!-- Esto es una interpolacion-->        
        <ul>
            <li v-for="fruta of frutas">
                {{fruta.nombre}} :  
                <span v-if="fruta.cantidad === 0"> Sin Stock</span>
                <span v-else>{{fruta.cantidad}}</span>
            </li> <!-- Generamos una lista desde Vue-->
            
        </ul>
        <p>Nombre de la fruta:</p>
        <input type="text" v-model="nuevaFruta">
        <p v-if="nuevaFruta !==''">Indique la cantidad</p>        
        <input type="number" v-model="nuevaCantidad" @keyup.enter="agregarFruta" v-if="nuevaFruta !==''">
        <button v-on:click="agregarFruta" v-if="nuevaFruta !==''">Agregar</button>
        <button @click="otroMetodo">Click</button>
    </div>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="codigo_js.js"></script>
</body>
</html>